@font-face {
  font-family: 'share-icon';
  src:  url('fonts/share-icon.eot?9qx6u');
  src:  url('fonts/share-icon.eot?9qx6u#iefix') format('embedded-opentype'),
  url('fonts/share-icon.ttf?9qx6u') format('truetype'),
  url('fonts/share-icon.woff?9qx6u') format('woff'),
  url('fonts/share-icon.svg?9qx6u#share-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'share-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-google:before {
  content: "\e900";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}

.woocommerce-message-bgcolor{padding:20px 20px 20px 30px !important;background-color: #e5fee8;}
.woocommerce-message-bgcolor a{font-weight: bold;}
.woocommerce-message-bgcolor i,.woocommerce-share .share-link i{margin-right:10px;}
.woocommerce-share .share-link{width:32%;padding:25px;margin:20px 0;border-radius: 8px;color:#fff;}
.woocommerce-share .share-link:nth-child(1){background: #3b5999;}
.woocommerce-share .share-link:nth-child(2){background: #20b6f1;margin:0 1%;}
.woocommerce-share .share-link:nth-child(3){background: #df4a32;}
.woocommerce-share .share-link:after{opacity: 0;}
@media screen and (max-width:750px){
  .woocommerce-share .share-link{width:100%;}
  .woocommerce-share .share-link:nth-child(2){margin:0;}
}
